<div *ngIf="formFieldsDto; then form else noForm">    

</div>
<ng-template #form>
  <div>
    <div class="col text-center text-danger">
      <h1>{{formFieldsDto.taskName}}</h1>
    </div>
    <div *ngIf="scienceField" class="text-center text-danger">
     <br/>
     <br/>
     <h4>Filter po naucnoj oblasti</h4>
     <input class="form-control text-center w-25 mx-auto" type="checkbox" name="scienceFieldFilter" (change)="filter()"> 
    </div>
    <form #f="ngForm" class="text-center mt-5" (ngSubmit)="onSubmit(f.value, f)" ngNativeValidate>  
      <div class="form-group" *ngFor="let field of formFields" >          
          <label for={{field.id}}>{{field.label}}</label>    
          <div *ngIf="field.type.name=='string'">
            <div *ngIf="field.id=='paper' || field.id=='editedWork'; then disabled else notDisabled" >

            </div>
            <ng-template #disabled>
                <input class="form-control text-center w-25 mx-auto" [readonly]="true" type="text" name={{field.id}} ngModel >
            </ng-template>
            <ng-template #notDisabled>
                <input class="form-control text-center w-25 mx-auto" type="text" name={{field.id}} ngModel >
            </ng-template>
          </div>           
          <input class="form-control text-center w-25 mx-auto" type="checkbox" name={{field.id}} ngModel  *ngIf="field.type.name=='boolean'">
          <input class="form-control text-center w-25 mx-auto" type="number" name={{field.id}} ngModel  *ngIf="field.type.name=='long'">
          <input class="form-control text-center w-25 mx-auto" type="date" name={{field.id}} ngModel  *ngIf="field.type.name=='date'">
          <select class="form-control text-center w-25 mx-auto" name="{{field.id}}" ngModel *ngIf="field.type.name=='enum'">
            <option *ngFor="let val of enumValues | keyvalue" value={{val.key}}>
              {{val.value}}
            </option>
          </select>
          <div *ngIf="field.id=='paper' || field.id=='editedWork'">
            <input class="upload" name="upload" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
          </div>
      </div>      
      <input class="btn btn-danger bg-danger" type="submit" value="Potvrdi">
      <div *ngIf="login">
         <br/>
         <br/>
         <button class="btn btn-danger bg-danger" (click)="registerSignal()">Registruj se</button>
      </div>
    </form>
  </div>
  <div *ngIf="application">
    <br/>
    <div class="card w-50 mx-auto">
      <div class="card-header text-center">
        Detalji
      </div>
      <div class="card-body">
        <table class = "table">
          <tr>
            <td class="text-right">Naslov</td>
            <td class="text-left">{{application.title}}</td>
          </tr>
          <tr>
            <td class="text-right">Naučna oblast</td>
            <td class="text-left">{{application.scienceFieldName}}</td>
          </tr>
          <tr>
            <td class="text-right">Ključne reči</td>
            <td class="text-left">{{application.keyTerms}}</td>
          </tr>
          <tr>
            <td class="text-right">Apstrakt</td>
            <td class="text-left">{{application.paperAbstract}}</td>
          </tr>
          <tr *ngIf="watch">
            <td class="text-right">Pregledajte rad</td>
            <td class="text-left"><a class="btn btn-danger" href="https://localhost:8090/api/files/{{application.file}}" target="_blank" >Download</a></td>
          </tr>
        </table>   
      </div>
    </div>  
  </div>
  <div *ngIf="reviewsEditor">
    <br/>
    <div class="container bg-white text-center">
        <h3 class="text-danger">Recenzije</h3>
        <table class="table">
        <thead>
          <tr>
            <th>Komentar</th>
            <th>Ocena</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let review of reviewsEditor">
            <td>{{review.commentForEditor}}</td>
            <td>{{review.recommendation}}</td>
          </tr>
        </tbody>
        </table>
     </div>
  </div>
  <div *ngIf="reviewsAutor">
      <br/>
      <div class="container bg-white text-center">
          <h3 class="text-danger">Recenzije</h3>
          <table class="table">
          <thead>
            <tr>
              <th>Komentari</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let review of reviewsAutor">
              <td>{{review.commentForAuthor}}</td>
            </tr>
          </tbody>
          </table>
       </div>
    </div>
</ng-template>
<ng-template #noForm>
  <div>
      Trenutno nema novih zadataka. Podnesite zahtev za novi rad ili sacekajte nova obavestenja.
  </div>
</ng-template>
