<div class="nav nav-tabs bg-danger">
  <ul class="nav nav-tabs mr-auto bg-danger">
    <li class="nav-item">
			<a class="nav-link text-white" routerLink="/magazines">Naučni časopisi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/search">Pretraga</a>
    </li>
    <li *ngIf="getCurrentUser()" class="nav-item">
      <a class="nav-link text-white" routerLink="/tasks">Moji zadaci</a>
    </li>
  </ul>  
  <a *ngIf="getCurrentUser(); then no else yes" class="nav-link mr-0 text-white" routerLink="/login">Prijava</a>
              <ng-template #no>
                <a class="nav-link mr-0 text-white" (click)="logout()">Odjava</a>
              </ng-template>
              <ng-template #yes>
                <a class="nav-link mr-0 text-white" routerLink="/login">Prijava</a>
              </ng-template>
</div>

<router-outlet></router-outlet>
