<br/>
<div *ngIf="edition">
    <div class="text-center text-danger">
        <h1>{{edition.editionName}}</h1>
        <br/>
        <div *ngIf="isAvailable; then available else unavailable">

        </div>        
        <ng-template #available>
            <a class="btn btn-danger" href="https://localhost:8090/api/downloadEdition/{{edition.id}}" target="_blank">Preuzmite izdanje</a>
        </ng-template>        
        <ng-template #unavailable>
            <h3 class="text-dark">Cena izdanja : {{edition.price}} $ - <button disabled class="btn btn-danger" (click)="buyEdition()">Kupite izdanje (CURRENTLY DISABLED)</button></h3>
        </ng-template>
        <br/>
      <h2>Naucni radovi u izdanju</h2>
    <br/>
    </div>		

    
    <div *ngIf="papers" class="row container mx-auto">
      <div *ngFor="let paper of papers" class="card text-center border-danger col-6" >
        <div class="card-body">
          <h5 class="card-title">{{paper.title}}</h5>
          <h6 class="card-subtitle mb-2">Autor : {{paper.author}}</h6>      
          <ul class="list-group list-group-flush text-left">
              <li *ngIf="paper.coauthors.length>0" class="list-group-item">Koautori :<ul>
                  <li *ngFor="let coauthor of paper.coauthors">{{coauthor}}</li>
                </ul></li>
              <li class="list-group-item">Kljucne reci : {{paper.keyTerms}}</li>
              <li class="list-group-item">Apstrakt :
                <p>{{paper.paperAbstract}}</p>
              </li>
              <li *ngIf="checkPaper(paper.doi); then mustBuy else canDownload" class="list-group-item">

              </li>
              <ng-template #mustBuy>
                <li class="list-group-item">
                    Cena rada : {{paper.price}} $ - <button disabled class="btn btn-danger" (click)="buyPaper(paper.doi)">Kupite rad (CURRENTLY DISABLED)</button>
                </li>
              </ng-template>
              <ng-template #canDownload>
                <li class="list-group-item">
                  <a class="btn btn-danger" href="https://localhost:8090/api/files/{{paper.fileName}}" target="_blank" >Preuzmite rad</a>
                </li> 
              </ng-template>  
          </ul>        
        </div>   
      </div>
    </div>
</div>
